<footer class="site-footer">
  <div class="container">
    <div class="grid">
      <p class="site-footer-text col-12">swiss lineage gallery — {{ (new Date()).getFullYear() }}</p>
    </div>
  </div>
</footer>
